<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/dataTables/datatables.min.css" rel="stylesheet">
  <link href="/src/private/lib/calendar/calendar.min.css" rel="stylesheet">
  <link href="/src/private/lib/selector/selector.min.css" rel="stylesheet">
  <link href="/src/private/lib/formError/formError.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/form.css" rel="stylesheet">
  <link href="/src/private/layout/css/input.css" rel="stylesheet">
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/dataTables/datatables.min.js"></script>
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>
  <script src="/src/private/lib/calendar/calendar.min.js"></script>
  <script src="/src/private/lib/selector/selector.min.js"></script>
  <script src="/src/private/lib/formError/formError.min.js"></script>

  <!-- layout -->
  <script src="/src/private/lib/input/input.min.js"></script>
  <script src="/src/private/lib/Tables/tables.min.js"></script>

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Compras</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/reportes">/reportes</a>
    <a href="/control/reportes/compras">/compras</a>
  </div>
</div>
<div class="content-body">
  <div class="menu-body">
    <div class="card" id="card-table-main">
      <div class="card-head">
        <h3 class="card-tittle">Tabla de Transacciones Compras</h3>
        <div class="f-row">
          <a class="btn btn-danger tbl-eliminar" <% if(!session.permiso.eliminar){ %> style="display: none" <% } %>>
            <i class='bx bx-trash'></i>
          </a>
          <a class="btn btn-warning tbl-editar" <% if(!session.permiso.editar){ %> style="display: none" <% } %>>
            <i class='bx bx-pencil'></i>
          </a>
          <a href="/control/movimientos/compras" class="btn btn-info tbl-nuevo" <%
            if(!userLayout['/control/movimientos/compras']?.ver){ %> style="display: none" <% } %>>
            <i class='bx bx-plus'></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-box">
          <table id="table-main" style="width: auto;">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Proveedor</th>
                <th>Metodo Pago</th>
                <th>Serie</th>
                <th>Importe Total</th>
                <th>Fecha y hora</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="cards">
            <div class="tables-utils">
              <div class="download"></div>
              <div class="f-row option">
                <a class="btn btn-danger tbl-eliminar" <% if(!session.permiso.eliminar){ %> style="display: none" <% }
                    %>>
                  <i class='bx bx-trash'></i>
                </a>
                <a class="btn btn-warning tbl-editar" <% if(!session.permiso.editar){ %> style="display: none" <% } %>>
                  <i class='bx bx-pencil'></i>
                </a>
                <a href="/control/movimientos/compras" class="btn btn-info tbl-nuevo" <%
                  if(!userLayout['/control/movimientos/compras']?.ver){ %> style="display: none" <% } %>>
                  <i class='bx bx-plus'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="card-table-compras" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Tabla de Compras</h3>
        <div class="f-row">
          <a class="btn btn-danger tbl-eliminar" <% if(!userLayout['/control/movimientos/compras']?.eliminar){ %> style="display: none" <% } %>>
            <i class='bx bx-trash'></i>
          </a>
          <a class="btn btn-info tbl-nuevo" <% if(!userLayout['/control/movimientos/compras']?.agregar){ %> style="display: none" <% } %>>
            <i class='bx bx-plus'></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-box">
          <table id="table-toggle" style="width: auto;">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Ganancia</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="cards">
            <div class="tables-utils">
              <div class="download-other" <% if(!userLayout['/control/movimientos/compras']?.exportar){ %> style="display: none" <% } %>></div>

              <div class="f-row option ">
                <a class="btn btn-danger tbl-eliminar" <% if(!userLayout['/control/movimientos/compras']?.eliminar){ %> style="display: none" <% } %>>
                  <i class='bx bx-trash'></i>
                </a>
                <a class="btn btn-info tbl-nuevo" <% if(!userLayout['/control/movimientos/compras']?.agregar){ %> style="display: none" <% } %>>
                  <i class='bx bx-plus'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-side">
    <div class="card" id="card-nuevo-compras" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Agregar Compra</h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <input type="hidden" name="transaccion_id">
                  <div class="input-box">
                    <input id="nuevo-cantidad" name="cantidad" type="text" oninput="inputInt(this, 10);" required>
                    <label for="cantidad">Cantidad (10):</label>
                  </div>
                  <div class="input-box">
                    <input id="nuevo-precio" name="precio" type="text" oninput="inputFloat(this, 10, 2);" required>
                    <label for="precio">Precio (10,2):</label>
                  </div>
                </div>
                <div class="form-col">
                  <div class="input-box">
                    <input id="nuevo-producto" class="selector" type="search" placeholder="Buscar producto..." id="productos">
                    <label for="productos">Producto (1):</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a class="btn btn-success">guardar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-editar-compras" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Editar compra</h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <input type="hidden" name="id">
                  <input type="hidden" name="transaccion_id">
                  <div class="input-box">
                    <input id="editar-cantidad" name="cantidad" type="text" oninput="inputInt(this, 10);" required>
                    <label for="cantidad">Cantidad (10):</label>
                  </div>
                  <div class="input-box">
                    <input id="editar-precio-compra" name="precio" type="text" oninput="inputFloat(this, 10, 2);" required>
                    <label for="precio">Precio compra(10,2):</label>
                    <small id="editar-precio-venta">Precio de venta: s\ </small>
                  </div>
                </div>
                <div class="form-col">
                  <div class="input-box">
                    <input id="editar-producto" class="selector" type="search" placeholder="Buscar producto..." id="productos">
                    <label for="productos">Producto (1):</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a class="btn btn-success">guardar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-editar" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Editar Transaccion</h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <input type="hidden" name="id">
                  <div class="input-box">
                    <input id="editar-serie" name="serie" type="text" oninput="inputCapitalize(this, 20)" required>
                    <label for="serie">Numero de Serie (20):</label>
                  </div>
                  <div class="input-box">
                    <input id="editar-proveedor" class="selector" type="search" placeholder="Buscar proveedor..." id="proveedor">
                    <label for="rol">Proveedor (1):</label>
                  </div>
                </div>
                <div class="form-col">
                  <div class="input-box">
                    <input id="editar-tipo-transaccion" class="selector" type="search" placeholder="Buscar tipo de Transaccion..." id="metodo-transaccion">
                    <label for="rol">Tipo de Transaccion (1):</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a class="btn btn-success">guardar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="select-date">
      <div class="card-body">
        <div class="calendario"></div>
      </div>
    </div>
  </div>
</div>

<script src="/src/private/routes/reportes/compras/index.js"></script>