<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/code/code.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>
  <script src="/src/private/lib/code/code.min.js"></script>

  <!-- layout -->

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Registros</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/reportes">/reportes</a>
    <a href="/control/reportes/registros">/registros</a>
  </div>
</div>
<div class="content-body">
  <div class="menu-body">
    <div class="card" id="logguer-success">
      <div class="card-head">
        <h3 class="card-tittle">Logs Satisfactorios</h3>
        <div class="f-row">
          Tama単o: <span id="size"></span> Mb
        </div>
      </div>
      <div class="card-body">
        <div class="code code-log scroll-y"></div>
      </div>
      <div class="card-foot">
        <% if(session.permiso.exportar){ %>
        <a class="btn left btn-success" id="download">Descargar</a>
        <% } %>
        <a class="btn btn-danger" id="clear">Limpiar</a>
      </div>
      <script src="/src/private/routes/reportes/registros/success.js"></script>
    </div>
    <div class="card" id="logguer-warning">
      <div class="card-head">
        <h3 class="card-tittle">Logs de Advertencia</h3>
        <div class="f-row">
          Tama単o: <span id="size"></span> Mb
        </div>
      </div>
      <div class="card-body">
        <div class="code code-log scroll-y"></div>
      </div>
      <div class="card-foot">
        <% if(session.permiso.exportar){ %>
        <a class="btn btn-success" id="download">Descargar</a>
        <% } %>
        <a class="btn btn-danger" id="clear">Limpiar</a>
      </div>
      <script src="/src/private/routes/reportes/registros/warn.js"></script>
    </div>
    <div class="card" id="logguer-error">
      <div class="card-head">
        <h3 class="card-tittle">Logs de Error</h3>
        <div class="f-row">
          Tama単o: <span id="size"></span> Mb
        </div>
      </div>
      <div class="card-body">
        <div class="code code-log scroll-y"></div>
      </div>
      <div class="card-foot">
        <% if(session.permiso.exportar){ %>
        <a class="btn btn-success" id="download">Descargar</a>
        <% } %>
        <a class="btn btn-danger" id="clear">Limpiar</a>
      </div>
      <script src="/src/private/routes/reportes/registros/error.js"></script>
    </div>
    <div class="card" id="logguer-system" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Log del Sistema</h3>
        <div class="f-row">
          Tama単o: <span id="size"></span> Mb
        </div>
      </div>
      <div class="card-body">
        <div class="code code-log scroll-y"></div>
      </div>
      <div class="card-foot">
        <% if(session.permiso.exportar){ %>
        <a class="btn btn-success" id="download">Descargar</a>
        <% } %>
        <a class="btn btn-danger" id="clear">Limpiar</a>
      </div>
      <script src="/src/private/routes/reportes/registros/system.js"></script>
    </div>
  </div>
</div>