<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->

  <!-- layout -->

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/chart/chart.umd.min.js"></script>
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>

  <!-- layout -->

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Movimientos</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/movimientos">/movimientos</a>
  </div>
</div>
<div class="content-body">
  <div class="menu-body">
    <div class="cards">
      <% if(userLayout['/control/movimientos/compras']?.ver){ %>
      <div class="f-col">
        <a class="card" href="/control/movimientos/compras">
          <div class="card-head">
            <h3 class="card-tittle">Compras</h3>
          </div>
          <div class="card-data">
            <div class="card-icon">
              <i class="bx bx-cart-add"></i>
            </div>
            <div class="card-col">
              <div class="data-box" id="compras-cantidad">
                <span class="data-tittle">Cantidad:</span>
                <small class="data"></small>
              </div>
              <div class="data-box" id="compras-fecha">
                <span class="data-tittle">Ultima Insersion:</span>
                <small class="data"></small>
                <small class="data"></small>
              </div>
            </div>
          </div>
        </a>
      </div>
      <script src="/src/private/routes/movimientos/dash/compras.js"></script>
      <% } %>

      <% if(userLayout['/control/movimientos/ventas']?.ver){ %>
      <div class="f-col">
        <a class="card" href="/control/movimientos/ventas">
          <div class="card-head">
            <h3 class="card-tittle">Ventas</h3>
          </div>
          <div class="card-data">
            <div class="card-icon">
              <i class="bx bx-cart-download"></i>
            </div>
            <div class="card-col">
              <div class="data-box" id="ventas-cantidad">
                <span class="data-tittle">Cantidad:</span>
                <small class="data"></small>
              </div>
              <div class="data-box" id="ventas-fecha">
                <span class="data-tittle">Ultima Insersion:</span>
                <small class="data"></small>
                <small class="data"></small>
              </div>
            </div>
          </div>
        </a>
      </div>
      <script src="/src/private/routes/movimientos/dash/ventas.js"></script>
      <% } %>
    </div>
  </div>
</div>
<script src="/src/private/routes/movimientos/index.js"></script>