<!DOCTYPE html>
<html lang="en" theme="<%=theme || 'purple' %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autenticacion</title>

  <!---------------------- CSS ---------------------->

  <link href="/src/public/favicon/logo.png" rel="icon" type="image/png">

  <!-- lib global -->
  <link href="/src/public/lib/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/public/css/theme.css" rel="stylesheet">
  <link href="/src/public/auth/layout/css/style.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib global -->
  <script src="/src/public/lib/alarm/sweetalert2@11.min.js"></script>

  <!-- layout -->
  <script src="/src/public/auth/layout/lib/burbujas/burbujas.min.js"></script>

</head>

<body style="height: 100vh !important; height: 100dvh !important;">
  <div class="container">
    <%-body%>
  </div>
  <canvas id="bubbleCanvas"></canvas>
</body>

</html>