<!DOCTYPE html>
<html lang="en" theme="purple">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>

  <!---------------------- CSS ---------------------->

  <link href="/src/public/favicon/logo.png" rel="icon" type="image/png">

  <!-- lib global -->
  <link href="/src/public/lib/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/public/css/theme.css" rel="stylesheet">
  <link href="/src/public/default/css/style.css" rel="stylesheet">
  <link href="/src/public/error/css/style.css" rel="stylesheet">
</head>

<body style="height: 100vh !important; height: 100dvh !important;">
  <div class="container">
    <%-body%>
  </div>
</body>

</html>