:root[theme=purple] {

  /* rgb(255, 255, 255) */
  --primary: 255, 255, 255;
  /* rgb(255, 140, 0) */
  --secundary: 255, 140, 0;

  /* rgb(0, 0, 0) */
  --color-0: 0, 0, 0;
  /* rgb(38, 38, 38) */
  --color-1: 38, 38, 38;
  /* rgb(24, 20, 48) */
  --color-2: 24, 20, 48;
  /* rgb(41, 21, 60) */
  --color-3: 41, 21, 60;
  /* rgb(64, 23, 77 ) */
  --color-4: 64, 22, 77;
  /* rgb(105, 3, 107) */
  --color-5: 105, 3, 107;
  /* rgb(161, 8, 171) */
  --color-6: 161, 8, 171;
  /* rgb(188, 30, 172) */
  --color-7: 188, 30, 172;
  /* rgb(255, 131, 248) */
  --color-8: 255, 131, 248;
  /* rgb(113, 221, 239) */
  --color-9: 113, 221, 239;

  /* rgb(25, 134, 83) */
  --state-1: 25, 134, 83;
  /* rgb(13, 204, 242) */
  --state-2: 13, 204, 242;
  /* rgb(255, 193, 7) */
  --state-3: 255, 193, 7;
  /* rgb(220, 53, 69) */
  --state-4: 220, 53, 69;
}

:root[theme=blue] {

  /* rgb(255, 255, 255) */
  --primary: 255, 255, 255;
  /* rgb(255, 140, 0) */
  --secundary: 255, 140, 0;

  /* rgb(0, 0, 0) */
  --color-0: 0, 0, 0;
  /* rgb(25, 25, 112) */
  --color-1: 25, 25, 112;
  /* rgb(24, 24, 110) */
  --color-2: 24, 24, 110;
  /* rgb(43, 43, 150) */
  --color-3: 43, 43, 150;
  /* rgb(0, 0, 255) */
  --color-4: 0, 0, 255;
  /* rgb(65, 105, 225) */
  --color-5: 65, 105, 225;
  /* rgb(70, 130, 180) */
  --color-6: 70, 130, 180;
  /* rgb(100, 149, 237) */
  --color-7: 100, 149, 237;
  /* rgb(123, 104, 238) */
  --color-8: 123, 104, 238;
  /* rgb(138, 43, 226) */
  --color-9: 138, 43, 226;

  /* rgb(25, 134, 83) */
  --state-1: 25, 134, 83;
  /* rgb(13, 204, 242) */
  --state-2: 13, 204, 242;
  /* rgb(255, 193, 7) */
  --state-3: 255, 193, 7;
  /* rgb(220, 53, 69) */
  --state-4: 220, 53, 69;
}

:root[theme=orange] {

  /* rgb(255, 255, 255) */
  --primary: 255, 255, 255;
  /* rgb(255, 140, 0) */
  --secundary: 255, 140, 0;

  /* rgb(0, 0, 0) */
  --color-0: 0, 0, 0;
  /* rgb(55, 0, 0) */
  --color-1: 55, 0, 0;
  /* rgb(75, 0, 0) */
  --color-2: 75, 0, 0;
  /* rgb(139, 0, 0) */
  --color-3: 139, 0, 0;
  /* rgb(178, 34, 34) */
  --color-4: 178, 34, 34;
  /* rgb(220, 20, 60) */
  --color-5: 220, 20, 60;
  /* rgb(255, 99, 71) */
  --color-6: 255, 99, 71;
  /* rgb(255, 69, 0) */
  --color-7: 255, 69, 0;
  /* rgb(255, 140, 0) */
  --color-8: 255, 140, 0;
  /* rgb(255, 165, 0) */
  --color-9: 255, 165, 0;

  /* rgb(25, 134, 83) */
  --state-1: 25, 134, 83;
  /* rgb(13, 204, 242) */
  --state-2: 13, 204, 242;
  /* rgb(255, 193, 7) */
  --state-3: 255, 193, 7;
  /* rgb(220, 53, 69) */
  --state-4: 220, 53, 69;
}

:root[theme=green] {

  /* rgb(255, 255, 255) */
  --primary: 255, 255, 255;
  /* rgb(255, 140, 0) */
  --secundary: 255, 140, 0;

  /* rgb(0, 0, 0) */
  --color-0: 0, 0, 0;
  /* rgb(34, 34, 34) */
  --color-1: 34, 34, 34;
  /* rgb(0, 51, 0) */
  --color-2: 0, 51, 0;
  /* rgb(0, 77, 0) */
  --color-3: 0, 77, 0;
  /* rgb(0, 102, 0) */
  --color-4: 0, 102, 0;
  /* rgb(0, 128, 0) */
  --color-5: 0, 128, 0;
  /* rgb(0, 153, 0) */
  --color-6: 0, 153, 0;
  /* rgb(0, 179, 0) */
  --color-7: 0, 179, 0;
  /* rgb(0, 204, 0) */
  --color-8: 0, 204, 0;
  /* rgb(0, 230, 0) */
  --color-9: 0, 230, 0;

  /* rgb(25, 134, 83) */
  --state-1: 25, 134, 83;
  /* rgb(13, 204, 242) */
  --state-2: 13, 204, 242;
  /* rgb(255, 193, 7) */
  --state-3: 255, 193, 7;
  /* rgb(220, 53, 69) */
  --state-4: 220, 53, 69;
}