<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/selector/selector.min.css" rel="stylesheet">
  <link href="/src/private/lib/inputRange/inputRange.min.css" rel="stylesheet">
  <link href="/src/private/lib/catalogue/catalogue.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/form.css" rel="stylesheet">
  <link href="/src/private/layout/css/input.css" rel="stylesheet">
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/selector/selector.min.js"></script>
  <script src="/src/private/lib/inputRange/inputRange.min.js"></script>
  <script src="/src/private/lib/catalogue/catalogue.min.js"></script>

  <!-- layout -->
  <script src="/src/private/lib/input/input.min.js"></script>

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Productos</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/productos">/productos</a>
  </div>
</div>

<div class="content-body">
  <div class="menu-body">
    <div class="f-row">
      <a id="btn-filter" class="btn btn-info" style="width: 100%;">
        <i class='bx bx-filter-alt'></i>
      </a>
    </div>
    <div id="catalogo"></div>
  </div>
  <div class="menu-side">
    <div class="card" id="categoria-filtro">
      <div class="card-head">
        <h3 class="card-tittle">Filtros</h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <input type="hidden" name="id">
                  <div class="input-box">
                    <input id="filtro-codigo" name="codigo" type="text" oninput="inputUppercase(this, 50)" required>
                    <label for="codigo">Codigo:</label>
                  </div>
                  <div class="input-box">
                    <input id="filtro-categorias" class="selector" type="search" placeholder="Buscar categorias...">
                    <label for="categoria">Categoria:</label>
                  </div>
                </div>
                <div class="form-col">
                  <div class="input-box">
                    <input id="filtro-nombre" name="producto" type="text" oninput="inputCapitalize(this, 50)" required>
                    <label for="producto">Nombre del Producto:</label>
                  </div>
                  <div class="input-box">
                    <div id="range-box" class="wrapper"> </div>
                    <label class="active" for="producto">Rango de precios:</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a id="btn-search" class="btn btn-success">Buscar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/src/private/routes/productos/index.js"></script>