<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/dataTables/datatables.min.css" rel="stylesheet">
  <link href="/src/private/lib/formError/formError.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/form.css" rel="stylesheet">
  <link href="/src/private/layout/css/input.css" rel="stylesheet">
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">


  <style>
    .table-acceso-side[option=permiso] {
      input[name=disabled] {
        display: none;
      }

      input[name=disabled]:checked {
        display: inline !important;
      }

      input[name=disabled]:checked+input[name=permiso] {
        display: none !important;
      }
    }

    .table-acceso-side[option=disabled] input[name=permiso] {
      display: none;
    }
  </style>

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/dataTables/datatables.min.js"></script>
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>
  <script src="/src/private/lib/formError/formError.min.js"></script>

  <!-- layout -->
  <script src="/src/private/lib/input/input.min.js"></script>
  <script src="/src/private/lib/Tables/tables.min.js"></script>

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Acceso Permisos</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/administracion">/administracion</a>
    <a href="/control/administracion/acceso">/Acceso</a>
  </div>
</div>

<div class="content-body">
  <div class="menu-body">
    <div class="card" id="card-main">
      <div class="card-head">
        <h3 class="card-tittle">Tabla de Menus</h3>
        <div class="f-row">
          <% if(session.permiso.eliminar){ %>
          <a class="btn btn-danger tbl-eliminar"><i class='bx bx-trash'></i></a>
          <% } %>
          <% if(session.permiso.editar){ %>
          <a class="btn btn-warning tbl-editar"><i class='bx bx-pencil'></i></a>
          <% } %>
          <% if(session.permiso.agregar){ %>
          <a class="btn btn-info tbl-nuevo"><i class='bx bx-plus'></i></a>
          <% } %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-box">
          <table id="table-main" style="width: auto;">
            <thead>
              <tr>
                <th>Principal</th>
                <th>Menu</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="cards">
            <div class="tables-utils">
              <div class="download"></div>
              <div class="f-row option ">
                <% if(session.permiso.eliminar){ %>
                <a class="btn btn-danger tbl-eliminar"><i class='bx bx-trash'></i></a>
                <% } %>
                <% if(session.permiso.editar){ %>
                <a class="btn btn-warning tbl-editar"><i class='bx bx-pencil'></i></a>
                <% } %>
                <% if(session.permiso.agregar){ %>
                <a class="btn btn-info tbl-nuevo"><i class='bx bx-plus'></i></a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-accesos" style="display: none;">
      <div class="card-head">
        <div>
          <h3 class="card-tittle">Tabla de Accesos en:</h3>
          <span id="menu-permiso"></span>
        </div>
        <input class="check-switch check-danger" id="check-disabled" type="checkbox">
      </div>
      <div class="card-body">
        <div class="table-box">
          <table id="table-accesos" class="table-acceso-side" option="permiso" style="width: auto;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Ver</th>
                <th>Agregar</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Ocultar</th>
                <th>Exportar</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-side">
    <div class="card" id="table-nuevo" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Nueva direccion y permisos</h3>
        <a class="card-close"><i class='bx bx-x'></i></a>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <div class="input-box">
                    <input id="nuevo-principal" name="menu_principal" type="text" oninput="inputLimit(this, 20)" required>
                    <label for="menu_principal">Principal (20):</label>
                  </div>
                  <div class="input-box">
                    <input id="nuevo-ruta" name="menu_ruta" type="text" oninput="inputLimit(this, 100)" required>
                    <label for="menu_ruta">Ruta (100):</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a class="btn btn-success">guardar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="table-editar" style="display: none;">
      <div class="card-head">
        <h3 class="card-tittle">Edicion de direccion y permisos</h3>
        <a class="card-close"><i class='bx bx-x'></i></a>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <div class="input-box">
                    <input id="editar-principal" name="menu_principal" type="text" oninput="inputLimit(this, 20)" required>
                    <label for="menu_principal">Principal (20):</label>
                  </div>
                  <div class="input-box">
                    <input id="editar-ruta" name="menu_ruta" type="text" oninput="inputLimit(this, 100)" required>
                    <label for="menu_ruta">Ruta (100):</label>
                  </div>
                </div>
              </div>
              <div class="form-foot">
                <a class="btn btn-success">guardar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/private/routes/administracion/acceso/index.js"></script>