<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->

  <!-- layout -->

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/chart/chart.umd.min.js"></script>
  <script src="/src/private/lib/formatTime/formatTime.min.js"></script>

  <!-- layout -->

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Administracion</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/administracion">/administracion</a>
  </div>
</div>
<div class="content-body">
  <div class="menu-body">
    <div class="cards">
      <% if(userLayout['/control/administracion/acceso']?.ver){ %>
      <div class="f-col">
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Acceso</h3>
            <form action="/control/administracion/acceso" method="get">
              <input class="card-search" type="search" name="tb_search" placeholder="Buscar Acceso">
            </form>
          </div>
          <a class="card-data" href="/control/administracion/acceso">
            <div class="card-icon">
              <i class="bx bx-food-menu"></i>
            </div>
            <div class="card-col">
              <div class="data-box" id="acceso-cantidad">
                <span class="data-tittle">Cantidad Accesos:</span>
                <small class="data"></small>
              </div>
              <div class="data-box" id="acceso-menus">
                <span class="data-tittle">Cantidad Menus:</span>
                <small class="data"></small>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Grafico Acceso vs Permisos</h3>
          </div>
          <div class="card-body">
            <canvas id="chart-acceso-x-permisos"></canvas>
          </div>
        </div>
      </div>
      <script src="/src/private/routes/administracion/dash/accesos.js"></script>
      <% } %>

      <% if(userLayout['/control/administracion/usuarios']?.ver){ %>
      <div class="f-col">
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Usuarios</h3>
            <form action="/control/administracion/usuarios" method="get">
              <input class="card-search" type="search" name="tb_search" placeholder="Buscar Usuario ">
            </form>
          </div>
          <a class="card-data" href="/control/administracion/usuarios">
            <div class="card-icon">
              <i class="bx bxs-user-account"></i>
            </div>
            <div class="card-col">
              <div class="data-box" id="usuarios-cantidad">
                <span class="data-tittle">Cantidad:</span>
                <small class="data"></small>
              </div>
              <div class="data-box" id="usuarios-fecha">
                <span class="data-tittle">Ultima Insersion:</span>
                <small class="data"></small>
                <small class="data"></small>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Grafico Usuarios vs Roles</h3>
          </div>
          <div class="card-body">
            <canvas id="chart-usuarios-x-roles"></canvas>
          </div>
        </div>
      </div>
      <script src="/src/private/routes/administracion/dash/usuarios.js"></script>
      <% } %>
    </div>

    <div class="cards">
      <% if(userLayout['/control/administracion/tipos']?.ver){ %>
      <div class="f-col">
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Tipos</h3>
          </div>
          <a class="card-data" href="/control/administracion/tipos">
            <div class="card-icon">
              <i class="bx bx-paint-roll"></i>
            </div>
            <div class="card-col">
              <div class="data-box" id="tipos-cantidad">
                <span class="data-tittle">Usos:</span>
                <small class="data">Tipados basicos para los datos del negocio.</small>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Grafico Tipos vs Cantidad</h3>
          </div>
          <div class="card-body">
            <canvas id="chart-tipos-x-cantidad"></canvas>
          </div>
        </div>
      </div>
      <script src="/src/private/routes/administracion/dash/tipos.js"></script>
      <% } %>
      
      <% if(userLayout['/control/administracion/usuarios']?.ver){ %>
      <div class="f-col">
        <a class="card" id="card-bot" href="/control/administracion/bot">
          <div class="card-head">
            <h3 class="card-tittle">Bot Whatsapp</h3>
          </div>
          <div class="card-data">
            <div class="card-icon load-spinner">
              <i class="bx bxs-user"></i>
              <img id="bot-foto">
            </div>
            <div class="card-col">
              <div class="data-box" id="bot-estado">
                <span class="data-tittle">Estado:</span>
                <small class="data"></small>
              </div>
              <div class="data-box" id="bot-usuario">
                <span class="data-tittle">Usuario:</span>
                <small class="data"></small>
              </div>
            </div>
          </div>
        </a>
        <div class="card">
          <div class="card-head">
            <h3 class="card-tittle">Grafico Bot vs Comandos</h3>
          </div>
          <div class="card-body">
            <canvas id="chart-bot-x-comando"></canvas>
          </div>
        </div>
      </div>
      <script src="/src/private/routes/administracion/dash/bot.js"></script>
      <% } %>
    </div>
  </div>
</div>